<div class="chat-container">
  <div *ngFor="let message of messages" class="chat-message">
    <div class="question">{{ message.question }}</div>
    <div class="answer">{{ message.answer }}</div>
  </div>

  <div class="answer" *ngIf="isLoading">
    <span>Loading...</span>
  </div>

  <div class="input-field">
    <input
      type="text"
      [(ngModel)]="inputText"
      (keyup.enter)="submitRequest()"
      placeholder="Enter your question"
    />
    <button class="button" (click)="submitRequest()">Send</button>
  </div>
</div>
