@import "typography";
@import "colors";

* {
  box-sizing: border-box;
}

body {
  background-color: $body_color;
  font-family: $body-font-family;
  font-size: $base-font-size;
}



//h1 {
//  color: #333333;
//  font-size: 24px;
//  margin-bottom: 20px;
//}


